source https://nuget.org/api/v2

nuget FAKE
nuget Npm.js

github fsharp/FAKE modules/Octokit/Octokit.fsx
github Ionide/ionide-vscode-helpers Fable.Import.VSCode.fs
github Ionide/ionide-vscode-helpers Helpers.fs
github Ionide/ionide-vscode-helpers Fable.Import.Axios.fs