source https://nuget.org/api/v2

git https://github.com/parthopdas/tddstud10.git master build:"build.cmd Build", OS: windows
git https://github.com/parthopdas/tddstud10.git master build:"build.cmd Build", OS: mono

nuget FAKE
nuget Npm.js

github fsharp/FAKE modules/Octokit/Octokit.fsx
github Ionide/ionide-vscode-helpers Fable.Import.VSCode.fs
github Ionide/ionide-vscode-helpers Helpers.fs
github Ionide/ionide-vscode-helpers Fable.Import.Axios.fs
