github fsharp/FAKE modules/Octokit/Octokit.fsx
github Ionide/ionide-vscode-helpers Fable.Import.VSCode.fs
github Ionide/ionide-vscode-helpers Helpers.fs
github Ionide/ionide-vscode-helpers Fable.Import.Axios.fs

source https://nuget.org/api/v2
nuget FAKE
nuget Npm.js

source https://ci.appveyor.com/nuget/tddstud10-x2rq3lcwiqxa
nuget TddStud10.Core < 172.0.0
